* {
  box-sizing: border-box;
}
html{
  height: 100%;
}
body{
  background: linear-gradient(to right, #db250d 0%, #0d79e5  100%);
  height: 100%;
}

.title{
  font-family: 'Trade Winds', cursive;
  font-size: 8em;
}

.orTitle {
  margin: -10px;
  font-size: .6em;
}

.prompt{
  font-family: 'Open Sans', sans-serif;
  color: white;
  margin-bottom: 2em;
  font-size: 2em;
}
#app{
  width: 100%;
  height: 100%;
}

#actionBar{
  margin: 0;
  padding: 0;
}

#whatBtn{
  margin: 10px;
  float: left;
}
#newGameBtn{
  margin: 10px;
  float: right;
}

#centerDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.guessBar{
  max-width: 500px;
}

.guessCounter{
  display: flex;
  width: 500px;
}

.guessCounter p{
  font-size: 18px;
  margin-top: 5px;
  font-family: 'Open Sans', sans-serif;
}

.guessList {
  display: flex;
  margin-top: 20px;
  max-width: 500px;
  flex-wrap: wrap;
}

.gameContainer{
  width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container {
  background: linen;
  background-image: url("https://www.transparenttextures.com/patterns/shattered-dark.png");
  padding: 0;
  min-height: 100%;
}




/*------------------------------------------GUESS COLORS*/
.numberBox {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin: 5px;
  width: 30px;
  height: 30px;
  padding: 5px;
  color: white;
  text-align: center;
}

.hot {
  background-color: orangered;
}

.mild {
  background-color: orange;
}

.cold {
  background-color: lightblue;
}

.freezing {
  background-color: darkblue;
}

.blazing {
  background-color: red;
}

.success {
  background-color: green;
}
